<ion-tabs>
  <ion-tab-bar slot="bottom" style="display: flex;">
    <ion-tab-button tab="account" style=" ">
      <ion-icon name="person-circle-outline"></ion-icon>
      Account
    </ion-tab-button>
    <ion-tab-button tab="deposit" style="  ">
      <ion-icon name="cash-outline"></ion-icon>
      Deposit
    </ion-tab-button>
    <ion-tab-button tab="withdraw" style="  ">
      <ion-icon name="wallet-outline"></ion-icon>
      Withdraw
    </ion-tab-button>
    <ion-tab-button tab="gift" style="  ">
      <ion-icon name="gift-outline"></ion-icon>
      Gift
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>